* {
  font-family: "Beleren Bold";
}

body {
  background: url("/dandan.png") no-repeat;
  background-size: cover;
}

h2,
p {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
